*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar-panel{
    width: 100%;
    height: 72px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 25px;
}
.logo{
    width: 91px;
    height: 34px;
    margin-left: 15px;
    
    
}
.search-section{
    width: 47%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    border-radius: 30px;
}
.search-icon{
    align-self: center;
    margin-left: 10px;
    width: 45px;
}
.placeholder{
    width: 60%;
    height: 50px;
    border: none;
    
}
p{
    font-weight: 100;
}
.fa-regular fa-heart{
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
}
.profile{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile p{
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.panel{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.panel p{
    padding: 8px 16px;

}
.hero-section{
    width: 90%;
    height: 400px;
    margin-left: 70px;
}
.skill-section{
    
    width: 440px;
    height: 156px;
    background-color: white;
    
    position: relative;
    top: 65px;
    left: 70px;
}
.skill-section h1{
    position: relative;
    top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.udemy-business{
    width: 90%;
    height: 80px;
    background-color: #2d2f31;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 70px;
}
.get-udemy{
    justify-content: flex-end;
    background-color: white;
    color: black;
    width: 160px;
    height: 40px;
    margin-left: 500px;
}
.dismiss{
    height: 37px;
    width: 80px;
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-left: 5px;

}
.course{
    width: 90%;
    height: 350px;
    display: flex;
    
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.course-img{
    width: 500px ;
    height: 280px;
    position: relative;
    top: 20px;
    left: 20px;

}
.matter{
    margin-left: 50px;
    position: relative;
    top: 20px;
    
}
.matter p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.price{
    margin-top: 120px;
}
.teach{
    width: 100%;
    height: 60px;
    background-color: #2d2f31;
    color: white;
    display: flex;
    
    
}
.logo-again{
    width: 80px;
    height: 30px;
    margin-top: 20px;
    margin-left: 45px;
}
.copy{
    margin-left: 1200px;
    position: relative;
    top: 25px;
    font-size: 12px;
    height: 30px;
    
}
